<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Memory Game</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <style>h1 {text-align: center}</style>
    <style>h2 {text-align: center}</style>

    <style>h4 {text-align: center}</style>
</head>

<body style="background-color: #bdf1f4">

    <h1>Игра на памет</h1>
    <h2>Правила!</h2>

    <br>

    <br>

    <h4>1.Когато натиснете бутона "Start Game", ще се отвори дъска със 24 квадрата.</h4>
    <h4>2.Дъската съдържа 8 химични знака и 8 наименования.</h4>
    <h4>3.Намерете съотвествията на всеки химичен знак с неговото наименование.</h4>
    <h4>4.За да останат обърнати, трябва да ги отворите последователно.</h4>
    <h4>5.Играта приключва, когато отворите всички верни комбинации.</h4>
    <h4>6.При натискане на бутона "Exit" ще излезете от играта.</h4>

    <button1>Exit</button1>
    <button2>Start Game</button2>
    <button3>New Game</button3>

    <py-script>
      
    </py-script>
</body>
</html>